<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Invoice - {{basicdetails.[0].inv_no}}</title>
<style>
    body {
      font-family: Arial, sans-serif;
      font-size: 11px;
      color: #000;
      background: #fff;
      margin: 0 4mm;
    }
    .invoice_head{
        text-align: center;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.invoice_head span{
    color: #b72031;
}
    table{
        width: 100%;
        font-family: Arial, sans-serif;
        font-size: 10px;
        vertical-align: top;
    }
    .tablee{
        border-collapse: collapse;
        border: 1px solid #c6c6c6;
    }
    .tablee th{
        padding: 4px 8px;
        color: #000;
        background-color: #cccccc;
        border: 1px solid #bfbfbf;
    }
    .tablee  .tb1{
        text-align: left;
    }
    .tablee .tb1-ar{
        text-align: right;
     }
    .tablee td{
        padding: 6px 8px;
        color: #000;
        border: 1px solid #bfbfbf;
    }
    .tablee1{
        margin-top: 3px;
        border-collapse: collapse;
        border: 1px solid #c6c6c6;
    }
    .tablee1 th{
        padding: 6px 8px;
        color: #000;
        border: 1px solid #bfbfbf;
        font-weight: bold;
        font-size: 10px;
    }
    .tablee1 td{
        padding: 3px 8px;
        color: #000;
        border-right: 1px solid #bfbfbf;
    }
    .table_black{
        border-collapse: collapse;
        border: 1px solid #000;
    }
    .table_black th{
        padding: 6px 8px;
        color: #000;
        background-color: #cccccc;
        font-size: 10px;
    }
    .table_black td{
        padding: 6px 8px;
        color: #000;
        vertical-align: top;
    }
    .bl_1{
        border-left: 1px solid #000;
    }
    .br_1{
        border-right: 1px solid #000;
    }
    .bt_1{
        border-top: 1px solid #000;
    }
    .qr{
        width: 120px;
    }
</style>
</head>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center invoice_head"><span>INVOICE</span> / فاتورة ضريبية</h1>
                </div>
                <div class="col-lg-12">
                    <table class="tablee">
                        <colgroup>
                            <col style="width:13%;">
                            <col style="width:32%;">
                            <col style="width:13%;">
                            <col style="width:12%;">
                            <col style="width:17%;">
                            <col style="width:13%;">
                        </colgroup>
                        <tr>
                            <th class="text-start bg-white tb1">Customer Name</th>
                            <td>{{billing_address.[0].name}}</td>
                            <th class="text-end bg-white tb1-ar">اسم العميل</th>
                            <th class="text-start tb1">Invoice No</th>
                            <td>{{basicdetails.[0].inv_no}}</td>
                            <th class="text-end tb1-ar">رقم الفاتورة</th>
                        </tr>
                        <tr>
                            <th class="text-start bg-white tb1">Name</th>
                            <td>{{basicdetails.[0].contact_name}}</td>
                            <th class="text-end bg-white tb1-ar">اسم</th>
                            <th class="text-start tb1">Invoice Date</th>
                            <td>{{basicdetails.[0].inv_date}}</td>
                            <th class="text-end tb1-ar">تاريخ الفاتورة</th>
                        </tr>
                        <tr>
                            <th class="text-start bg-white tb1" rowspan="3">Address</th>
                            <td rowspan="3">{{{joinAddress billing_address.[0] '<br>'}}}</td>
                            <th class="text-end bg-white tb1-ar" rowspan="3">العنوان</th>
                            <th class="text-start tb1">DN No</th>
                            <td></td>
                            <th class="text-end tb1-ar">رقم الاقتباس</th>
                        </tr>
                        <tr>
                            <th class="text-start tb1">DN Date</th>
                            <td></td>
                            <th class="text-end tb1-ar">اشاره العملاء</th>
                        </tr>
                        <tr>
                            <th class="text-start tb1">Mode of Pay</th>
                            <td></td>
                            <th class="text-end tb1-ar">طريقة الدفع</th>
                        </tr>
                        <tr>
                            <th class="text-start bg-white tb1">Phone</th>
                            <td>{{customer_details.[0].contact_no1}}</td>
                            <th class="text-end bg-white tb1-ar">هاتف</th>
                            <th class="text-start tb1">Reference No</th>
                            <td>{{basicdetails.[0].reference_no}}</td>
                            <th class="text-end tb1-ar">رقم المرجع</th>
                        </tr>
                        <tr>
                            <th class="text-start tb1">PO No</th>
                            <td>{{basicdetails.[0].order_no}}</td>
                            <th class="text-end tb1-ar"> رقم الطلب الشراء</th>
                            <th class="text-start tb1">PO Date</th>
                            <td>{{basicdetails.[0].po_date}}</td>
                            <th class="text-end tb1-ar">تاريخ امر الشراء</th>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 mt-1">
                    <table class="tablee1">
                        <colgroup>
                            <col style="width:5%;">
                            <col style="width:47%;">
                            <col style="width:9%;">
                            <col style="width:9%;">
                            <col style="width:9%;">
                            <col style="width:9%;">
                            <col style="width:12%;">
                        </colgroup>
                        <tr>
                            <th class="text-center">م  <br> S.N</th>
                            <th class="text-center">الوصف<br>Description</th>
                            <th class="text-center">الكمية<br>QTY</th>
                            <th class="text-center">الوحدة<br>Unit</th>
                            <th class="text-center">سعر الوحدة<br>U.Rate</th>
                            <th class="text-center">مبلغ<br>Amount</th>
                            <th class="text-center">القيمه الاجمالي<br>Total Price</th>
                        </tr>
                        {{#each itemdetails}}
                        <tr>
                            <td class="text-center" style="text-align: center;">{{addOne @index}}</td>
                            <td class="text-start">{{item_name}}{{name_lang2}}{{description}}</td>
                            <td class="text-end" style="text-align: center;">{{formatAmount quantity ../bcdp}}</td>
                            <td class="text-end" style="text-align: center;">{{unit}}</td>
                            <td class="text-end" style="text-align: right;">{{formatAmount price ../bcdp}}</td>
                            <td class="text-end" style="text-align: right;">{{formatAmount taxable ../bcdp}}</td>
                            <td class="text-end" style="text-align: right;">{{formatAmount amount ../bcdp}}</td>
                        </tr>
                        {{/each}}
                        <tr>
                            <td class="text-center"><br><br><br><br><br></td>
                            <td class="text-start"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                            <td class="text-end"></td>
                        </tr>

                    </table>
                </div>
                <div class="col-lg-12 mt-1">
                    <table class="table_black">
                        <tr>
                            <td rowspan="7" class="br_1 qr">{{{qrDataUri qrCodeBase64}}}</td>
                            <th colspan="3" class="bl_1">Bank Account Details</th>
                            <td rowspan="7" class="bl_1" style="width: 8px;padding: 0;"></td>
                            <td rowspan="7" class="p-0 bl_1">
                                <table class="tablee">
                                    <tr>
                                        <td>Total Amount</td>
                                        <td class="text-end" style="text-align: right;">المبلغ الإجمالي</td>
                                        <td class="text-end" style="text-align: right;">{{formatAmount (divide basicdetails.[0].subtotal ccrate) bcdp}}</td>
                                    </tr>
                                    <tr>
                                        <td>Discount</td>
                                        <td class="text-end" style="text-align: right;">الخصم</td>
                                        <td class="text-end" style="text-align: right;">{{formatAmount (divide basicdetails.[0].discount ccrate) bcdp}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Grand Total</b></td>
                                        <td class="text-end" style="text-align: right;"><b>المبلغ الإجمالي</b></td>
                                        <td class="text-end" style="text-align: right;"><b>{{formatAmount (divide basicdetails.[0].grand_total ccrate) bcdp}}</b></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td style="width: 13%;">Bank Name</td>
                            <td style="width: 2%;">:</td>
                            <td style="width: 22%;">{{bankdetails.name}}</td>
                        </tr>
                        <tr>
                            <td>Account Name</td>
                            <td>:</td>
                            <td>{{bankdetails.acc_name}}</td>
                        </tr>
                        <tr>
                            <td>Account Number</td>
                            <td>:</td>
                            <td>{{bankdetails.acc_no}}</td>
                        </tr>
                        <tr>
                            <td> IBAN No</td>
                            <td>:</td>
                            <td>{{bankdetails.iban_no}}</td>
                        </tr>
                        <tr>
                            <td>SWIFT No</td>
                            <td>:</td>
                            <td>{{bankdetails.swift_no}}</td>
                        </tr>
                        <tr>
                            <td>Branch Name </td>
                            <td>:</td>
                            <td>{{bankdetails.branch_name}}</td>
                        </tr>
                        <tr>
                            <td colspan="4" class="br_1 bt_1">{{bcamountinwords}}</td>
                            <td colspan="2" class="bt_1 text-end" style="text-align: right;">{{bcamountinwordsar}}</td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 mt-3">
                    <table class="text-center">
                        <tr>
                            <td style="text-align: center;">Accountant/ محاسب  <br><br> <br>_____________________</td>
                            <td style="text-align: center;">Received by/ المتلقي  <br><br><br>_____________________</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
