<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=yes" />
<title>175</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
<link type="text/css" rel="stylesheet" href="invoice.css">
</head>
<style>
    body{
    font-family: "Open Sans",sans-serif !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0;}
.table>:not(caption)>*>* {
    padding: 0.3rem 0.3rem;
}
@media (max-width: 720px)
.container, .container-sm {
    max-width: 680px;
}
table{
    width: 100%;
}
.bg-dark{
    background-color: #1a1a1a;
}
.bg{background-color:#f2f2f2;}
.bg-light{background-color:#ecf7f9;}
.bg-light1{background-color:#d9dbdb !important;}
.head{
background-color: #1a1a1a;
    padding: 15px 30px;
}
.head h1{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
}
.arab{
    font-family: 'Cairo', sans-serif;
}
.text-gold{
    color: #db9600 !important;
}
.head-light{
    border-bottom: 1px solid #d7d7d7;
    background-color: #fbfbfb;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 15px;
}
.detail-td{
    font-size: 12px;
    width: 100%;
}
.detail-td td{
    color: #7a7a7a;
    padding: 5px;
}
.detail-td th{
    color: #1a1a1a;
    padding: 5px;
    font-weight: 600;
}
.table_n th{
    background-color: #1a1a1a;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
.table_n th span{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 11px;
    color: #ddd;
}
.table_n1{
    border: 1px solid #ededed;
    border-radius: 10px;
    font-size: 14px;
}
.table_n1 td:first-child{
    
}
.table_n1 td:last-child{
    text-align: right;
}
.tabn td:last-child{
    font-weight: 600;
}
.tabn td:first-child{
    font-weight: 400;
    color: #8b8b8b;
}
.tabn tr{
    border-bottom: 1px solid #dee2e6;
}
.amount{
    background-color: #fffbe6;
    border: 1px solid #f2e49d;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}
.amount h5{
    color: #d1b53f;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
}
.amount h6{
    color: #1a1a1a;
    font-weight: 600;
}

.bank{
    background-color: #fff;
    border: 1px solid #d0d0d0;
    padding: 8px;
    width: 100%;
    margin-top: 4px;
    border-radius: 10px;
}
.bank h5{
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 6px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 6px;
}
.bank h6{
    color: #1a1a1a;
    font-weight: 600;
}
.tabn1 td{
    font-weight: 600;
    color: #1a1a1a;
}
.tabn1 tr{
    border-bottom: 1px solid #dee2e6;
}


.invoice {
    width: 420px;
    margin: 20px auto;
    background: #f5f5f5;
    padding: 15px;
    color: #000;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.center { text-align: center; }
.bold { font-weight: bold; }
.small { font-size: 12px; }

hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 10px 0;
}
.hr {
    border: none;
    border-top: 2px solid #000;
    margin: 5px 0;
    opacity: 1;
}

.tabled {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabled th, .tabled td {
    padding: 6px 4px;
    text-align: left;
    font-size: 13px;
}

.tabled th {
    border-bottom: 1px solid #000;
}

.tabled td:last-child,
.tabled th:last-child {
    text-align: right;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.total-row1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}
.total-row1 div:last-child{
    padding-left: 0px;
    content: ":";
}
.total-row1 div:first-child{
    width: 30%;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.box_table{
        margin: 30px;
        display: block;
    }
    table th{
        font-weight: 600;
    }
    .table_sec td{
        font-weight: 400;
        line-height: 16px;
        border: 1px solid #76716a;
        padding: 2px 0;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 0;
        border-right: 0;
        font-size: 12px;
        vertical-align: top;
    }
    .table_sec th{
        font-size: 12px;
        color: #26323e;
        padding: 2px 5px;
        border: 1px solid #76716a;
        border-bottom: 0;
        border-right: 0;
    }
    .table_sec tr:last-child td{
        border-bottom: 1px solid #b9bcbf;
    }
    .table_sec tr td:last-child{
        border-right: 1px solid #b9bcbf;
    }
    .table_sec tr:last-child th{
        border-bottom: 1px solid #76716a;
    }
    .table_sec tr th:last-child{
        border-right: 1px solid #76716a;
    }
.my_table table{
    font-size: 13px;
    line-height: 16px;
}
.my_table table th{
    font-weight: 700;
}
.invoice_head{
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 15px;
}
.invoice_head span{
    color: #b72031;
}
.b{
    font-weight: 600;
}
.bd-code-snippet{
    border: 1px solid #acaeaf;
    border-radius: 6px;
    padding: 8px;
}
.bd-code-snippet2{
    border: 1px solid #272727;
    border-radius: 0px;
    padding: 8px;
}
.boxx_table{
    
}
.boxx_table td{
    padding: 8px;
}
.boxx_table th{
    border-bottom: 1px solid #acaeaf;
    padding: 8px;
}
.boxx_table th b{
    font-weight: 400;
}
.boxx_table th:first-child{
    border-right: 1px solid #acaeaf;
}
.boxx_table1 td{
    padding: 8px;
    border-bottom: 1px solid #acaeaf;
    border-right: 1px solid #acaeaf;
    text-align: center;
}
.boxx_table1 td:last-child{
    border-right: 0px solid #acaeaf;
}
.boxx_table1 th{
    border-bottom: 2px solid #707070;
    border-right: 1px solid #acaeaf;
    padding: 8px;
    text-align: center;
}
.boxx_table1 th b{
    font-weight: 400;
}
.boxx_table1 th:last-child{
    border-right: 0px solid #acaeaf;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.border-dark td{
    border: 1px solid #272727 !important;
}
.lih-20{
    line-height: 20px !important;
}
.lih-24{
    line-height: 24px !important;
}
.pl-0{
    padding-left: 0px !important;
}
.pr-0{
    padding-right: 0px !important;
}

.bb{
    border-bottom: 0px !important;
}
.br{
    border-right: 0px !important;
}
.bl{
    border-left: 0px !important;
}
.bt{
    border-top: 0px !important;
}
.br-1{
    border-right: 1px solid #acaeaf !important;
}
.bt-1{
    border-top: 1px solid #272727 !important;
}
.fw-400{
    font-weight: 400;
}
.vam{
    vertical-align: middle !important;
}
.myy_table{
    border: 1px solid #ccc;
}
.myy_table td{
    color: #282727;
    font-size: 10px;
}
.myy_table th{
    background-color: #f2f2f2;
    color: #282727;
    font-weight: bold;
    font-size: 9px;
}
.myy_table1 td{
    border: 1px solid #ccc;
}
.myy_table1 th{
    border: 1px solid #ccc;
    padding: 4px;
}
.myy_table2 td{
    border: 1px solid #ccc;
}
.myy_table2 th{
    border: 1px solid #ccc;
    font-weight: bold;
    background-color: #fff;
    color: #000;
}
.myy_table3 th{
    background-color: #19aec6;
    color: #fff;
    font-weight: 600;
    font-size: 11px;
    line-height: 24px;
    border: 1px solid #fff;
    padding: 2px 8px;
}
.myy_table3 td{
    padding: 2px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 11px;
    border-bottom: 1px solid #ccc;
    line-height: 24px;
}
.qr-wrapper img {
      width: 85px;
      height: 85px;
      display: block;
    }
.bg_red{
    background-color: #f54343;
    color: #fff !important;
}
.fs-11{
    font-size: 11px;
}
.w-10px{
    width: 10px;
}
</style>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <table class="table_sec">
                        <tr>
                            <td><h5 class="text-center"><b> INVOICE / فاتورة  </b></h5></td>
                        </tr>
                    </table>
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <table class="lih-24 mt-1 myy_table" style="width:100%; border-collapse:collapse;">
                        
                        {{!-- <!-- HEADER --> --}}
                        <tr>
                        <td class="text-white" style="background:#f54343; padding:6px 8px;">
                            <b>Customer Details</b>
                        </td>
                        <td colspan="2" class="text-end text-white arab" style="background:#f54343; padding:6px 8px;">
                            <b>تفاصيل العميل</b>
                        </td>
                        </tr>

                        {{!-- <!-- CONTENT --> --}}
                        <tr>
                        <td style="width:35%; padding:4px 6px;">Name</td>
                        <td style="width:5%; text-align:center;">:</td>
                        <td style="padding:4px 6px;">Added 1 - cloud EDITED (Id 161)</td>
                        </tr>

                        <tr>
                        <td style="vertical-align:top; padding:4px 6px;">Address</td>
                        <td style="text-align:center;">:</td>
                        <td style="padding:4px 6px; line-height:16px;">
                            7340 AL OLAYA, DIST DAMMAM<br>
                            Saudi Arabia 32212
                        </td>
                        </tr>

                        <tr>
                        <td style="padding:4px 6px;">Mobile No</td>
                        <td style="text-align:center;">:</td>
                        <td style="padding:4px 6px;">8798456521</td>
                        </tr>

                        <tr>
                        <td style="padding:4px 6px;">CR Number</td>
                        <td style="text-align:center;">:</td>
                        <td style="padding:4px 6px;">310588313300003</td>
                        </tr>

                    </table>
                    </div>


                    {{!-- <!-- RIGHT SIDE --> --}}
                    <div class="col-lg-6 col-md-6 col-sm-6 pl-0">
                        <table class="myy_table mt-1 myy_table1" style="width:100%; border-collapse:collapse;">

                            <tr>
                            <th style="padding:4px 4px;">Invoice Number / الفاتورة رقم</th>
                            <td class="text-center" style="padding:4px 4px;">MINU000021INV</td>
                            </tr>

                            <tr>
                            <th style="padding:4px 4px;">Invoice Issue Date / الفاتورة إصدار تاريخ</th>
                            <td class="text-center" style="padding:4px 4px;">03-Mar-2026</td>
                            </tr>

                            <tr>
                            <th style="padding:4px 4px;">Delivery Number / التسليم رقم</th>
                            <td class="text-center" style="padding:4px 4px;">12121</td>
                            </tr>

                            <tr>
                            <th style="padding:4px 4px;">PO Number / الشراء أمر رقم</th>
                            <td class="text-center" style="padding:4px 4px;">0</td>
                            </tr>

                            <tr>
                            <th style="padding:4px 4px;">Remarks / الملاحظات</th>
                            <td class="text-center" style="padding:4px 4px;">&nbsp;</td>
                            </tr>

                        </table>
                    </div>
                <div class="col-lg-12">
                    <table class="mt-1 myy_table myy_table1">
                        <tr>
                            <td class="text-center bg_red" style="width:5%;">Sl<br></td>
                            <td class="text-center bg_red" style="width:15%;">Item Code<br>الوصف</td>
                            <td class="text-center bg_red" style="width:35%;">Description<br>الوصف</td>
                            <td class="text-center bg_red" style="width:10%;">QTY<br>الكمية</td>
                            <td class="text-center bg_red" style="width:10%;">UOM<br>الوحدة</td>
                            <td class="text-center bg_red" style="width:10%;">Rate<br>معدل</td>
                            <td class="text-center bg_red" style="width:15%;">Item Sub Total<br>المجموع</td>
                        </tr>
                        <tbody>
                        {{#each itemdetails}}
                            <tr style="font-size: 8px;">
                                <td class="text-center">{{inc @index}}</td>
                                <td class="text-center">{{item_code}}</td>
                                <td class="text-start" style="padding-left: 2px;">
                                    <div>{{item_name}}</div>
                                        {{#if name_lang2}}<div class="item-lang2">{{name_lang2}}</div>{{/if}}
                                        {{#if description}}<div style="font-size:9px;color:#666;">{{description}}</div>{{/if}}
                                </td>
                                <td class="text-center">{{formatAmount quantity bcdp}}</td>
                                <td class="text-center">{{unit}}</td>
                                <td class="text-end" style="padding-right: 2px;">{{{currencySymbol ../isocode}}} {{formatAmount price ../bcdp}}</td>
                                <td class="text-end" style="padding-right: 2px;">{{{currencySymbol ../isocode}}} {{formatAmount amount ../bcdp}}</td>
                            </tr>
                         {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="row" style="margin-top:5px;">

                    {{!-- <!-- BANK DETAILS --> --}}
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <table class="mt-1 myy_table myy_table1" style="width:100%; border-collapse:collapse;">

                        <tr>
                            <td colspan="2" class="text-center bg" style="padding:6px; font-weight:600;">
                            Bank Details
                            </td>
                        </tr>

                        <tr>
                            <td class="bg" style="width:40%; padding:4px 6px;">A/c Name</td>
                            <td style="padding:4px 6px;">althaf</td>
                        </tr>

                        <tr>
                            <td class="bg" style="padding:4px 6px;">Bank Name</td>
                            <td style="padding:4px 6px;">ALRAJHI BANK</td>
                        </tr>

                        <tr>
                            <td class="bg" style="padding:4px 6px;">A/c No</td>
                            <td style="padding:4px 6px;">123456789</td>
                        </tr>

                        <tr>
                            <td class="bg" style="padding:4px 6px;">IBAN</td>
                            <td style="padding:4px 6px;">123456789</td>
                        </tr>

                        <tr>
                            <td class="bg" style="padding:4px 6px;">SWIFT</td>
                            <td style="padding:4px 6px;">123456789</td>
                        </tr>

                        </table>
                    </div>


                    {{!-- <!-- QR --> --}}
                    <div class="col-lg-2 col-md-2 col-sm-2 text-center qr-wrapper" style="display:flex; align-items:center; justify-content:center;">
                        {{#if qrCodeBase64}}
                            {{{qrDataUri qrCodeBase64}}}
                        {{/if}}
                    </div>


                    {{!-- <!-- TOTALS --> --}}
                    <div class="col-lg-5 col-md-5 col-sm-5">
                        <table class="mt-1 myy_table myy_table1" style="width:100%; border-collapse:collapse;">

                        <tr>
                            <td style="padding:4px 6px;">Total Amount</td>
                            <td class="text-end" style="padding:4px 6px;">إجمالي المبلغ المستحق</td>
                            <td class="text-end" style="padding:4px 6px;">9,039.00</td>
                        </tr>

                        <tr>
                            <td style="padding:4px 6px;">Discount Amount</td>
                            <td class="text-end" style="padding:4px 6px;">مبلغ الخصم</td>
                            <td class="text-end" style="padding:4px 6px;">0.00</td>
                        </tr>

                        <tr>
                            <td style="padding:4px 6px;">Received</td>
                            <td class="text-end" style="padding:4px 6px;">المبلغ المستلم</td>
                            <td class="text-end" style="padding:4px 6px;">0.00</td>
                        </tr>

                        <tr>
                            <td style="padding:4px 6px;"><b>Balance</b></td>
                            <td class="text-end" style="padding:4px 6px;"><b>المبلغ الإجمالي</b></td>
                            <td class="text-end" style="padding:4px 6px;"><b>9,039.00</b></td>
                        </tr>

                        {{!-- <!-- AMOUNT WORDS HEADER --> --}}
                        <tr>
                            <td colspan="2" class="br" style="padding:5px 6px; font-weight:600;">
                            Amount in words
                            </td>
                            <td class="text-end bl" style="padding:5px 6px; font-weight:600;">
                            المبلغ بالكلمات
                            </td>
                        </tr>

                        {{!-- <!-- WORDS --> --}}
                        <tr>
                            <td colspan="3" style="padding:6px; text-align:center; line-height:15px;">
                            UAE Dirham Nine Thousand Thirty Nine
                            </td>
                        </tr>

                        </table>
                    </div>

                    </div>

                <div class="col-lg-12 mt-2">
                    <table class="mt-2 fs-11 lih-24">
                        <tr>
                            <td colspan="2"><b>Terms And Conditions والشروط ا</b></td>
                        </tr>
                        <tr>
                            <td>Recievers Name : </td>
                            <td>Salesman : EMP A</td>
                        </tr>
                        <tr>
                            <td>Recievers Signature :</td>
                            <td>Signature :</td>
                        </tr>
                    </table>
                </div>
                
                
            </div> 
        </div>
    </div>
</body>
</html>