<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<!-- Forcing initial-scale shouldn't be necessary -->
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="format-detection" content="telephone=yes" />
<title>195</title>
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<style>
  body{
    font-family: "Open Sans",sans-serif !important;
}
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{margin-top:0;margin-bottom:0;}
.table>:not(caption)>*>* {
    padding: 0.3rem 0.3rem;
}
@media (max-width: 720px)
.container, .container-sm {
    max-width: 680px;
}
table{
    width: 100%;
}
.bg-dark{
    background-color: #1a1a1a;
}
.bg{background-color:#f2f2f2;}
.bg-light{background-color:#ecf7f9;}
.bg-light1{background-color:#d9dbdb !important;}
.head{
background-color: #1a1a1a;
    padding: 15px 30px;
}
.head h1{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}
.arab{
    font-family: 'Cairo', sans-serif;
}
.text-gold{
    color: #db9600 !important;
}
.head-light{
    border-bottom: 1px solid #d7d7d7;
    background-color: #fbfbfb;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 11px;
}
.detail-td{
    font-size: 11px;
    width: 100%;
}
.detail-td td{
    color: #7a7a7a;
    padding: 5px;
}
.detail-td th{
    color: #1a1a1a;
    padding: 5px;
    font-weight: 600;
}
.table_n th{
    background-color: #1a1a1a;
    color: #fff;
    font-size: 11px;
    line-height: 18px;
}
.table_n th span{
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: 9px;
    color: #ddd;
}
.table_n1{
    border: 1px solid #ededed;
    border-radius: 10px;
    font-size: 10px;
}
.table_n1 td:first-child{
    
}
.table_n1 td:last-child{
    text-align: right;
}
.tabn td:last-child{
    font-weight: 600;
}
.tabn td:first-child{
    font-weight: 400;
    color: #8b8b8b;
}
.tabn tr{
    border-bottom: 1px solid #dee2e6;
}
.amount{
    background-color: #fffbe6;
    border: 1px solid #f2e49d;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
}
.amount h5{
    color: #d1b53f;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 6px;
}
.amount h6{
    color: #1a1a1a;
    font-weight: 600;
}
.bank{
    background-color: #fff;
    border: 1px solid #d0d0d0;
    padding: 8px;
    width: 100%;
    margin-top: 4px;
    border-radius: 10px;
}
.bank h5{
    color: #1a1a1a;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 6px;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 6px;
}
.bank h6{
    color: #1a1a1a;
    font-weight: 600;
}
.tabn1 td{
    font-weight: 600;
    color: #1a1a1a;
}
.tabn1 tr{
    border-bottom: 1px solid #dee2e6;
}


.invoice {
    width: 420px;
    margin: 20px auto;
    background: #f5f5f5;
    padding: 15px;
    color: #000;
    font-size: 10px;
    font-family: "Open Sans",sans-serif;
}

.center { text-align: center; }
.bold { font-weight: bold; }
.small { font-size: 10px; }

hr {
    border: none;
    border-top: 1px dashed #000;
    margin: 10px 0;
}
.hr {
    border: none;
    border-top: 2px solid #000;
    margin: 5px 0;
    opacity: 1;
}

.tabled {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.tabled th, .tabled td {
    padding: 6px 4px;
    text-align: left;
    font-size: 10px;
}

.tabled th {
    border-bottom: 1px solid #000;
}

.tabled td:last-child,
.tabled th:last-child {
    text-align: right;
}

.total-row {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.total-row1 {
    display: flex;
    justify-content: flex-start;
    margin-top: 8px;
}
.total-row1 div:last-child{
    padding-left: 0px;
    content: ":";
}
.total-row1 div:first-child{
    width: 30%;
}

.footer {
    text-align: center;
    margin-top: 10px;
}

.box_table{
        margin: 30px;
        display: block;
    }
    table th{
        font-weight: 600;
    }
    .table_sec td{
        font-weight: 400;
        line-height: 16px;
        border: 1px solid #76716a;
        padding: 2px 0;
        padding-left: 5px;
        padding-right: 5px;
        border-bottom: 0;
        border-right: 0;
        font-size: 10px;
        vertical-align: top;
    }
    .table_sec th{
        font-size: 10px;
        color: #26323e;
        padding: 2px 5px;
        border: 1px solid #76716a;
        border-bottom: 0;
        border-right: 0;
    }
    .table_sec tr:last-child td{
        border-bottom: 1px solid #b9bcbf;
    }
    .table_sec tr td:last-child{
        border-right: 1px solid #b9bcbf;
    }
    .table_sec tr:last-child th{
        border-bottom: 1px solid #76716a;
    }
    .table_sec tr th:last-child{
        border-right: 1px solid #76716a;
    }
.my_table table{
    font-size: 10px;
    line-height: 16px;
}
.my_table table th{
    font-weight: 700;
}
.invoice_head{
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 15px;
}
.invoice_head span{
    color: #b72031;
}
.b{
    font-weight: 600;
}
.bd-code-snippet{
    border: 1px solid #acaeaf;
    border-radius: 6px;
    padding: 8px;
}
.bd-code-snippet2{
    border: 1px solid #272727;
    border-radius: 0px;
    padding: 8px;
}
.boxx_table{
    
}
.boxx_table td{
    padding: 8px;
}
.boxx_table th{
    border-bottom: 1px solid #acaeaf;
    padding: 8px;
}
.boxx_table th b{
    font-weight: 400;
}
.boxx_table th:first-child{
    border-right: 1px solid #acaeaf;
}
.boxx_table1 td{
    padding: 8px;
    border-bottom: 1px solid #acaeaf;
    border-right: 1px solid #acaeaf;
    text-align: center;
}
.boxx_table1 td:last-child{
    border-right: 0px solid #acaeaf;
}
.boxx_table1 th{
    border-bottom: 2px solid #707070;
    border-right: 1px solid #acaeaf;
    padding: 8px;
    text-align: center;
}
.boxx_table1 th b{
    font-weight: 400;
}
.boxx_table1 th:last-child{
    border-right: 0px solid #acaeaf;
}
.w-10{
    width: 10%;
}
.w-15{
    width: 15%;
}
.border-dark td{
    border: 1px solid #272727 !important;
}
.lih-20{
    line-height: 20px !important;
}
.lih-24{
    line-height: 24px !important;
}
.pl-0{
    padding-left: 0px !important;
}
.pr-0{
    padding-right: 0px !important;
}

.bb{
    border-bottom: 0px !important;
}
.br{
    border-right: 0px !important;
}
.bl{
    border-left: 0px !important;
}
.bt{
    border-top: 0px !important;
}
.br-1{
    border-right: 1px solid #acaeaf !important;
}
.bt-1{
    border-top: 1px solid #272727 !important;
}
.fw-400{
    font-weight: 400;
}
.box_d{
    border: 1px solid #272727 !important;
    padding: 8px 12px;
}
.vam{
    vertical-align: middle !important;
}
.myy_table{
    border: 1px solid #ccc;
}
.myy_table td{
    padding: 2px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 9px;
}
.myy_table th{
    background-color: #f2f2f2;
    padding: 2px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 10px;
}
.myy_table1 td{
    border: 1px solid #ccc;
}
.myy_table1 th{
    border: 1px solid #ccc;
    line-height: 26px;
}
.myy_table2 td{
    border: 1px solid #ccc;
}
.myy_table2 th{
    border: 1px solid #ccc;
    font-weight: bold;
    background-color: #fff;
    color: #000;
}
.myy_table3 th{
    background-color: #19aec6;
    color: #fff;
    font-weight: 600;
    font-size: 10px;
    line-height: 24px;
    border: 1px solid #fff;
    padding: 2px 8px;
}
.myy_table3 td{
    padding: 2px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 9px;
    border-bottom: 1px solid #ccc;
    line-height: 24px;
}
.myy_table4{
    border: 1px solid #000;
}
.myy_table4 td{
    padding: 2px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 9px;
}
.myy_table4 th{
    padding: 2px 8px;
    color: #000;
    font-weight: bold;
    font-size: 10px;
    border-bottom: 1px solid #000;
}
.myy_table5{
    border: 1px solid #000;
}
.myy_table5 td{
    padding: 10px 8px;
    color: #282727;
    font-weight: 600;
    font-size: 10px;
}
.myy_table5 th{
    padding: 8px 8px;
    color: #000;
    font-weight: bold;
    font-size: 10px;
    border-bottom: 1px solid #000;
}
.bt-1px{
    border-top: 1px solid #000;
}
.bl-1px{
    border-left: 1px solid #000;
}
.bg_red{
    background-color: #f54343;
    color: #fff !important;
}
.fs-11{
    font-size: 10px;
}
.fs-13{
    font-size: 15px;
}
.w-10px{
    width: 11px;
}
.w-2px{
    width: 2px;
}
.vat{
    vertical-align: top;
}
</style>
<body>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="text-center invoice_head"><span>INVOICE TAX</span> -  فاتورة ضريبية </h1>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="width: 55%;">
                    <table class="myy_table myy_table2 lih-24">
    <tr>
        <th class="br" colspan="2">BUYER DETAILS</th>
        <th class="text-end bl">فاصيل المشتري</th>
    </tr>

    <tr>
        <th style="text-align: left;">Name</th>
        <td>{{billing_address.[0].name}}</td>
        <td style="text-align: right;">الإ سم</td>
    </tr>

    <tr>
        <th style="text-align: left;">VAT Number</th>
        <td>{{customer_details.[0].VAT_number}}</td>
        <td style="text-align: right;">الرقم ظريبه الشراء</td>
    </tr>

    <tr>
        <th style="text-align: left;">CR No</th>
        <td>{{customer_details.[0].cr_no}}</td>
        <td style="text-align: right;">رقم التجاري</td>
    </tr>

    <tr>
        <th style="text-align: left;">Address</th>
        <td>
            {{joinAddress billing_address.[0] '، '}}
        </td>
        <td style="text-align: right;">العنوان</td>
    </tr>
</table>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6" style="width: 45%;">
                    <table class="myy_table myy_table2 lih-24">

    <tr>
        <td class="bg-light1"><b>Invoice No</b></td>
        <td class="text-center"><b>{{basicdetails.[0].inv_no}}</b></td>
        <td class="bg-light1 text-end arab"><b>رقم الفاتورة</b></td>
    </tr>

    <tr>
        <td class="bg-light1"><b>Invoice Date</b></td>
        <td class="text-center"><b>{{basicdetails.[0].inv_date}}</b></td>
        <td class="bg-light1 text-end arab"><b>تاريخ الفاتورة</b></td>
    </tr>

    <tr>
        <td class="bg-light1"><b>Mode of pay</b></td>
        <td class="text-center">
            <b>
                
            </b>
        </td>
        <td class="bg-light1 text-end arab"><b>طريقة الدفع</b></td>
    </tr>

    <tr>
        <td class="bg-light1"><b>PO No</b></td>
        <td class="text-center"><b>{{basicdetails.[0].order_no}}</b></td>
        <td class="bg-light1 text-end arab"><b>رقم الطلب الشراء</b></td>
    </tr>

    <tr>
        <td class="bg-light1"><b>Payment Terms</b></td>
        <td class="text-center">
            <b>{{basicdetails.[0].payment_terms}}</b>
        </td>
        <td class="bg-light1 text-end arab"><b>شروط الدفع</b></td>
    </tr>

    <tr>
        <td class="bg-light1"><b>Project Name</b></td>
        <td class="text-center">
            <b>{{basicdetails.[0].project_name}}</b>
        </td>
        <td class="bg-light1 text-end arab"><b>اسم المشروع</b></td>
    </tr>

</table>
                    
                    
                </div>

                <div class="col-lg-12 mt-2">
                    <table class="myy_table myy_table2">
                        <thead>
                            <tr class="text-center">
                                <th><span class="arab">م</span><br>Sl </th>
                                <th><span class="arab">الوصف</span><br>Description</th>
                                <th><span class="arab">الكمية</span><br>QTY</th>
                                <th><span class="arab">الوحدة</span><br>Unit</th>
                                <th><span class="arab">سعر الوحدة</span><br>U.Rate</th>
                                <th><span class="arab">مبلغ</span><br>Amount</th>
                                <th><span class="arab">قيمة الضريبة</span><br>VAT Value</th>
                                <th><span class="arab">القيمه الاجمالي</span><br>Total Price</th>
                            </tr>
                        </thead>
                            <tbody>
{{#each itemdetails}}
<tr class="text-end">
    <td class="text-center">{{addOne @index}}</td>
    <td class="text-start">
      <div>{{item_name}}</div>
        {{#if name_lang2}}
            <div style="direction:rtl; font-size:9px; color:#555;">
                {{name_lang2}}
            </div>
        {{/if}}
        {{#if description}}
            <div style="font-size:9px; color:#777;">
                {{description}}
            </div>
        {{/if}}
    </td>
    <td>{{quantity}}</td>
    <td>{{unit}}</td>
    <td>{{formatAmount price ../bcdp}}</td>
    <td>{{formatAmount taxable ../bcdp}}</td>
    <td>{{formatAmount disc_amt ../bcdp}}</td>
    <td>{{formatAmount total ../bcdp}}</td>
    <td>{{formatAmount vat_amt ../bcdp}}</td>
    <td>{{formatAmount amount ../bcdp}}</td>
</tr>
{{/each}}
</tbody>

                            </tbody>
                    </table>
                </div>
                <div class="col-lg-5 col-md-5 col-sm-5 text-center">
                    {{{qrDataUri qrCodeBase64}}}
                </div>
                <div class="col-lg-7 col-md-7 col-sm-7 mt-1">
                    <table class="myy_table myy_table2">

    <tr>
        <td>Total Amount / الإجمالي المبلغ </td>
        <td class="text-end">
            {{basicdetails.[0].isocode}} 
            {{formatAmount basicdetails.[0].subtotal bcdp}}
        </td>
    </tr>

    <tr>
        <td>Discount / الخصم </td>
        <td class="text-end">
            {{basicdetails.[0].isocode}} 
            {{formatAmount basicdetails.[0].discount bcdp}}
        </td>
    </tr>

    <tr>
        <td><b>Net Amount / المجموع ص</b></td>
        <td class="text-end">
            <b>
                {{basicdetails.[0].isocode}} 
                {{formatAmount (subtract basicdetails.[0].subtotal basicdetails.[0].discount) bcdp}}
            </b>
        </td>
    </tr>

    <tr>
        <td>VAT (15%) / المضافة القيمة ضريبة </td>
        <td class="text-end">
            {{basicdetails.[0].isocode}} 
            {{formatAmount basicdetails.[0].vatamt bcdp}}
        </td>
    </tr>

    <tr>
        <td><b> Grand Total / الإجمالي ا</b></td>
        <td class="text-end">
            <b>
                {{basicdetails.[0].isocode}} 
                {{formatAmount basicdetails.[0].grand_total bcdp}}
            </b>
        </td>
    </tr>

</table>
                </div>
                
                <div class="col-lg-12">
                     <table class="myy_table myy_table2">
                        <tr>
                            <td class="w-50">{{bcamountinwords}}</td>
                            <td class="text-end"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-lg-12 mt-1">
                    <table class="myy_table myy_table2 text-center lih-20">
                        <tr>
                            <td>Company Stamp<br> ختم الشركة</td>
                            <td>Prepared By<br>تمت الموافقة بواسطة</td>
                            <td>Authorized Signature<br> التوقيع المخول</td>
                            <td>Received By<br>تم الاستلام بواسطة</td>
                        </tr>
                        <tr>
                            <td>{{#if Seal}}
                                    <img src="{{Seal}}" alt="Seal" style="max-height:{{default datasettings.d458 '40'}}px; max-width:{{default datasettings.d458 '60'}}px;" onerror="this.style.display='none'"/>
                                {{/if}}</td>
                            <td></td>
                            <td>{{#if signature}}
                                    <img src="{{signature}}" alt="signature" style="max-height:{{default datasettings.d459 '40'}}px; max-width:{{default datasettings.d459 '60'}}px;" onerror="this.style.display='none'"/>
                                {{/if}}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                
                
            </div> 
        </div>
    </div>
</body>
</html>