<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Purchase Order - {{basicdetails.[0].inv_no}}</title>
  <style>
    * { margin: 0; padding: 0; box-sizing: border-box; }

    body {
      {{!-- font-family: "Times New Roman", Times, serif; --}}
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      color: #000;
      background: #fff;
      margin: 0 6mm;
    }

    table { border-collapse: collapse; width: 100%; table-layout: fixed; }

    .doc-title { text-align: center; font-size: 20px; font-weight: bold; margin: 6px 0 10px; }

    .po-line { border: none; margin-bottom: 6px; }
    .po-line td { border: none; font-size: 13px; }
    .po-line .rr { text-align: right; }

    /* section tables share the boxed look */
    .sec { border: 1px solid #000; border-collapse: collapse; width: 100%; }
    .stack { margin-top: -1px; }
    .gray { background: #d9d9d9; }
    .hdc { text-align: center; font-weight: bold; padding: 4px; border: 1px solid #000; }

.addrcell {
  font-size: 10px;
    border: 1px solid #000;
    padding: 6px 8px;
    vertical-align: top;
    height: 120px;
    line-height: 1.5;
}

.addrcell .info {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.addrcell .info td {
    border: none;
    padding: 1px 0;
    vertical-align: top;
    line-height: 1.5;
}

.addrcell .lbl {
    width: 72px;
    font-weight: 500;
    white-space: nowrap;
}

.addrcell .sep {
    width: 10px;
    text-align: center;
}

    /* items */
    .items th, .items td { border: 1px solid #000; padding: 3px 5px; font-size: 10px; vertical-align: top; }
    .items th { text-align: center; font-weight: bold; }
    .items td.num { text-align: center; }
    .items td.rt { text-align: right; }

    /* totals */
    .tot td { border: 1px solid #000; padding: 3px 6px; font-size: 10px; vertical-align: top; }
    .tot .wordscell { vertical-align: top; }
    .tot .totlbl { text-align: center; font-weight: bold; }
    .tot .totval { text-align: right; }

    /* delivery terms */
    .dt th, .dt td { border: 1px solid #000; padding: 4px 6px; font-size: 10px; text-align: center; }
    .dt th { font-weight: bold; }

    /* terms + sign */
    .foot td { border: 1px solid #000; vertical-align: top; padding: 6px 8px; font-size: 10px; }
    .pa { text-align: center; }
    .pa u { font-weight: bold; }
  </style>
</head>
<body>

  <!-- TITLE -->
  <div class="doc-title">PURCHASE ORDER</div>

  <!-- PO NUMBER / DATE -->
  <table class="po-line">
    <tr>
      <td>PO NUMBER:{{basicdetails.[0].inv_no}}</td>
      <td class="rr">PO DATE: {{basicdetails.[0].inv_date}}</td>
    </tr>
  </table>

  <!-- VENDOR | DELIVERY ADDRESS -->
  <table class="sec" style="margin-top: 2px;margin-bottom:2.8px;">
    <colgroup><col style="width:50%"><col style="width:50%"></colgroup>
    <tr>
      <td class="hdc">VENDOR ADDRESS</td>
      <td class="hdc">DELIVERY ADDRESS</td>
    </tr>
    <tr>
      <td class="addrcell">
          <table class="vendor-info">
              <tr>
                  <td class="lbl">Vendor No</td>
                  <td class="sep">:</td>
                  <td>{{vendor_details.[0].profile_code}}</td>
              </tr>

              <tr>
                  <td class="lbl">Name</td>
                  <td class="sep">:</td>
                  <td>{{vendor_details.[0].name}}</td>
              </tr>

              <tr>
                  <td class="lbl">Address</td>
                  <td class="sep">:</td>
                  <td>{{#if billing_address.[0]}}{{joinAddress billing_address.[0] ''}}{{/if}}</td>
              </tr>

              <tr>
                  <td class="lbl">{{tax_label}}</td>
                  <td class="sep">:</td>
                  <td>{{vendor_details.[0].VAT_number}}</td>
              </tr>

              <tr>
                  <td class="lbl">Attn</td>
                  <td class="sep">:</td>
                  <td>{{basicdetails.[0].attention}}</td>
              </tr>

              <tr>
                  <td class="lbl">Email</td>
                  <td class="sep">:</td>
                  <td>{{vendor_details.[0].email}}</td>
              </tr>

              <tr>
                  <td class="lbl">Reference</td>
                  <td class="sep">:</td>
                  <td>{{basicdetails.[0].reference_no}}</td>
              </tr>
          </table>
      </td>
      <td class="addrcell">
        <table class="info">
            <tr>
                <td class="lbl">Name</td>
                <td class="sep">:</td>
                <td><b>{{compprof.name}}</b></td>
            </tr>

            <tr>
                <td class="lbl">Address</td>
                <td class="sep">:</td>
                <td>{{joinAddress branch.[0] ''}}</td>
            </tr>

            <tr>
                <td class="lbl">VAT Number</td>
                <td class="sep">:</td>
                <td>{{branch.[0].vat}}</td>
            </tr>

            <tr>
                <td class="lbl">Phone</td>
                <td class="sep">:</td>
                <td>{{compprof.phone}}</td>
            </tr>
        </table>
    </td>
    </tr>
  </table>

  <!-- ITEMS -->
  <table class="sec items stack">
    <colgroup>
      <col style="width:5%"><col style="width:15%"><col style="width:30%"><col style="width:7%">
      <col style="width:8%"><col style="width:12%"><col style="width:12%"><col style="width:11%">
    </colgroup>
    <thead>
      <tr class="gray">
        <th>SNo</th>
        <th>PART NUMBER</th>
        <th>DESCRIPTION</th>
        <th>QTY</th>
        <th>UNIT</th>
        <th>PRICE</th>
        <th>VAT AMOUNT</th>
        <th>TOTAL</th>
      </tr>
    </thead>
    <tbody>
      {{#each itemdetails}}
        <tr>
          <td class="num">{{addOne @index}}</td>
          <td>{{item_code}}</td>
          <td>{{item_name}}{{description}}</td>
          <td class="num">{{formatAmount quantity ../bcdp}}</td>
          <td class="num">{{unit}}</td>
          <td class="rt">{{formatAmount price ../bcdp}}</td>
          <td class="rt">{{formatAmount tax ../bcdp}}</td>
          <td class="rt">{{formatAmount amount ../bcdp}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>

  <!-- WORDS | TOTALS -->
  <table class="sec tot stack" style="margin-bottom:2.8px;">
    <colgroup>
      <col style="width:50%">
      <col style="width:27%">
      <col style="width:23%">
    </colgroup>
    <tr>
      <td class="wordscell" rowspan="5">
        {{bcamountinwords}}<br>
        VAT Amount in words :
      </td>
      <td class="totlbl">Sub Total ({{basicdetails.[0].base_country_isocode}})</td>
      <td class="totval">{{formatAmount (divide basicdetails.[0].subtotal ccrate) bcdp}}</td>
    </tr>
    <tr>
      <td class="totlbl">Discount</td>
      <td class="totval">{{formatAmount (divide basicdetails.[0].discount ccrate) bcdp}}</td>
    </tr>
    <tr>
      <td class="totlbl">VAT Amount</td>
      <td class="totval">{{formatAmount (divide basicdetails.[0].vatamt ccrate) bcdp}}</td>
    </tr>
    <tr>
      <td class="totlbl">Others</td>
      <td class="totval">{{formatAmount (divide basicdetails.[0].othervalue ccrate) bcdp}}</td>
    </tr>
    <tr>
      <td class="totlbl">Net Amount</td>
      <td class="totval">{{formatAmount (divide basicdetails.[0].grand_total ccrate) bcdp}}</td>
    </tr>
  </table>

  <!-- DELIVERY TERMS -->
  <table class="sec dt stack">
    <colgroup><col style="width:25%"><col style="width:25%"><col style="width:25%"><col style="width:25%"></colgroup>
    <tr class="gray">
      <th>Delivery Terms</th>
      <th>Lead Time</th>
      <th>Payment Terms</th>
      <th>Currency</th>
    </tr>
    <tr>
      <td>{{basicdetails.[0].delivery_terms}}</td>
      <td>{{basicdetails.[0].lead_time}}</td>
      <td>{{basicdetails.[0].payment_terms}}</td>
      <td>{{basicdetails.[0].base_country_isocode}}</td>
    </tr>
  </table>

  <!-- TERMS + SIGN -->
  <table class="sec foot stack">
    <colgroup><col style="width:50%"><col style="width:50%"></colgroup>
    <tr>
      <td colspan="2" style="height:50px;">
        <b>Terms and Conditions:</b><br>
        {{#if basicdetails.[0].terms_and_condition}}{{{nl2br basicdetails.[0].terms_and_condition}}}{{/if}}
      </td>
    </tr>
    {{#ifFlag datasettings "d339"}}
    <tr>
      <td colspan="2" style="text-align:center;">{{datasettingstextvalue.d340}}</td>
    </tr>
    {{/ifFlag}}
  </table>
  <table class="stack" style="vertical-align: top; padding: 6px 8px; font-size: 10px;">
    <tr>
      <td class="pa">
        <u>Prepared By</u><br>
        {{basicdetails.[0].created_user}}<br>
        {{basicdetails.[0].created_user_contact_no1}}
      </td>
      <td class="pa">
        <u>Approved By</u>
      </td>
    </tr>
  </table>

</body>
</html>
